{% extends "base.html" %}

{% block title %} Salasanan uudelleenasettaminen {% endblock %}

{% block content1 %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<h4>Salasanan uudelleenasettaminen</h4>
<hr>
{% if validlink %}
<h4>Aseta uusi salasana</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p}}
    <button type="submit"> Tallenna</button>
</form>
{% else %}
<strong style="color:red;">Linkki ei toimi.</strong>
<a href="{% url 'logout' %}">Pyydä uutta linkkiä tästä.</a>
{% endif %}
{% endblock %}