{% extends "base.html" %}

{% block content1 %}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

<br>
<h3>Näet tämän sivun vain, jos olet kirjautunut sovellukseen.</h3>
<p> Tämä teksti löytyy test_login_required.html -sivupohjalta ja näkymä (luokkaperustainen sekä funktioperustainen)
    löytyy  app1/views.py -tiedostosta.
</p>
{% endblock %}