{% extends "base.html" %}

{% block title %} Lista {% endblock %}

{% block content2 %}

<meta charset="UTF-8">  
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<br>
<h3>Lista esimerkkiolioista. </h3>
<h4> Tämä sivu on tehty käyttäen "extends"-tagia tarkoituksena esitellä sen käyttöä.
Toiminnallisuus on sivupohjassa "show.html" --> extends "base.html". 
Urls.py -tiedosto sisältää polun --> path('show/', crud_views.show, name='show'). App2/views sisältää "show"-näkymän. </h4>
<br>
<br>
<table class="table table-striped table-bordered table-sm">
    <thead class="thead-dark">
        <tr>
            <th>Ominaisuus 1</th>
            <th>Ominaisuus 2</th>
        </tr>
    </thead>
    <tbody>
        {% for example in examples %}
        <tr>
            <td>{{ example.attribute_1 }}</td>
            <td>{{ example.attribute_2 }}</td>

        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}